doctype html
html
  head
    title= title
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
    meta(name='google-site-verification',content='eMMDN2mkasL5oZ3NprK2y4aCTZ_uLc1nBoFJdNC_Zog')
  body
    div.modal#loading
      div.center
        img(src='/spin.gif')
    div.header
      nav.navbar.navbar-toggleable-sm.navbar-light.sticky-top(style="background-color:#fff;")
        div.navbar-header
          button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          a.navbar-brand GradeNotify
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='',data-target='#signup',data-toggle="tab") Sign Up
            li.nav-item
              a.nav-link(href='',data-target='#edit',data-toggle="tab") Edit Account
    br
    body.content.bg-faded
      div.container
        div.row
          div.col-12
            block content
    br
    script(src='/tether/js/tether.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
